.dynamic-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    position: relative;
    margin-bottom: 15px;
    .label{
        width: 100%;
    }
    .input {
        display: flex;
        margin-top: 10px;
        width: 100%;
        .input-group {
            width: 100%;
            margin-bottom: unset;
        }
    }
    .btns {
        cursor: pointer;
        border: 1px solid hsla(0, 0%, 43.9%, 0.15);
        width: 30px;
    }
    .add {
        margin-top: 15px;
    }
    .ant-input {
        margin-top: unset !important;
    }
}
