.header {
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
    .logo {
        width: 120px;
    }
    .logout {
        cursor: pointer;
        font-weight: bolder;
    }
}
