.logOut-popup {
    width: 300px !important;
    .logOut-popup-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 16px;
        .logOut-popup-header {
            padding: 0 0 10px;
            font-weight: 600;
        }
        .buttons-container {
            margin-top: 20px;
        }
    }
}
